<fieldset [formGroupName]="controlKey">
  <legend>{{ label }}</legend>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Street</mat-label>
      <input formControlName="street" matInput placeholder="street">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input formControlName="city" matInput placeholder="City">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>State</mat-label>
      <input formControlName="state" matInput placeholder="State">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input formControlName="country" matInput placeholder="Country">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Cell No</mat-label>
      <input formControlName="cellNo" matInput placeholder="Cell No">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Pin Code</mat-label>
      <input formControlName="pinCode" matInput placeholder="Pin Code">
    </mat-form-field>
  </div>
</fieldset>
